@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}