@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 200px;
}

.title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

.hero-left {
    margin: 32px 0;
}

.hero-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info {
    padding: 0.25rem 300px;
    margin: 25px 0 100px 0;
}

.info-img {
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.info-block {
    display: flex;
    align-items: center;
    gap: 64px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
